/**********************************

Use: Reset Styles for all browsers

***********************************/
	
body, p, blockquote {
	margin: 0;
	padding: 0;
}

a img, iframe { border: none; }
	
/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
	
/* Lists
------------------------------*/
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}
	
/* Links
------------------------------*/

a, a:link {}
a:visited {}
a:hover {}
a:active {}

/* Forms
------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}
	
fieldset { border: 1px solid #000; }

legend {
	padding: 0;
	color: #000;
}

input, textarea, select {
	margin: 0;
	padding: 1px;
	font-size: 100%;
	font-family: inherit;
}
	
select { padding: 0; }

body {
	padding: 0 10px;
	font: normal 82.5% "Lucida Grande", Helvetica, Verdana, Arial;
}
	
p { margin: 10px 0; }

li { margin-left: 10px; }

h3 { margin: 5px 0; }

.red { background-color: red; }
.blue { color: blue; }
.green { color: green; }


table {
	border: 1px solid #666;
	margin: 5px 0 5px 0 !important;
}

th, td {
	padding: 1px;
	text-align: left;
	font-size: 14px;
}

th {
	background-color: #fc0;
}

th:hover {
	background-color: #fc7;
}

tbody tr.even {
	background-color: #fea
}

tr a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
tr a:hover {
	text-decoration: underline;
}

dl dd {
	margin-left: 10px;
}

dl dt {
	font-weight: bold;
}

dl {
	border: 1px solid black;
	margin: 5px;
}

.highlight {
	border: 5px dotted #eee;
}

.error {
	background-color: #fee;
}

.leftcontent {
//	position: relative;
	float: left;
//	border: 1px dotted #d40;
	padding: 10px;
}


.centercontent {
//	position: relative;
	float: left;
//	border: 1px dotted #4d0;
	padding: 10px;	
}

.drp {
	border:1px dashed #000;	
	padding: 2px;
}

	
.ui-state-hover {
	background: yellow;

}
	
.ui-state-highlight {
	
}
	
.ui-state-active {
	font-weight: bold;
	background: #4b9b3e;
}

.match {
	
}

.quote_available {
	background: lightgreen	!important;
}

.quote_unavailable {
	background: #a2a2a2 !important;
}

table.formular {
	
}

td.lfdtip_prognose {
	width: 1em;
	text-align:center;
	}

td.match {
	width: 20em;
}

.drptarg {
	border:1px dotted #000;
	width: 20em;
}

td.lfdtip_quote {
	width: 2em;
	text-align: center;
	}

td.lfdtip_label {
	width: 2em;
	text-align: center;
}

tr.formrowodd {
	background: #dddddd;
	}
tr.formroweven {
	background: #ffffff;
	}
button.lfdtip_deletebutton_button.ui-button-icon-only {
	width: 1.7em;
	border: none;
	}

span.tipheaders {
		font: normal 85% "Lucida Grande", Helvetica, Verdana, Arial;
}	

td.tipsum {
	text-align:right;
	font-style:italic;
	padding-right:5px;
}
table.stat_row {
	margin:0 !important;
	border: 1px solid #AAAAAA;
}

.helptext {
	float:left;
	width:2.2em;
	height:2.2em;
	padding-right:0.5em;
}

